In [1]:
#project-2
#1.
import pandas as pd
import random
random.seed(42)

registration_numbers = [f'20191320{i:02d}' for i in range(1, 51)]
tt1_marks = [random.randint(0, 20) for _ in range(50)]
data = {
    'Registration Number': registration_numbers,
    'Name': [f'Student{i}' for i in range(1, 51)],
    'TT-1 Marks': tt1_marks
}
df = pd.DataFrame(data)
df.to_csv('term-test-1-result.csv', index=False)
df = pd.read_csv('term-test-1-result.csv')
print(df.head(51))
print("CSV file 'term-test-1-result.csv' created successfully!")

    Registration Number       Name  TT-1 Marks
0            2019132001   Student1          20
1            2019132002   Student2           3
2            2019132003   Student3           0
3            2019132004   Student4           8
4            2019132005   Student5           7
5            2019132006   Student6           7
6            2019132007   Student7           4
7            2019132008   Student8           3
8            2019132009   Student9          17
9            2019132010  Student10           2
10           2019132011  Student11          18
11           2019132012  Student12          13
12           2019132013  Student13           1
13           2019132014  Student14           0
14           2019132015  Student15           2
15           2019132016  Student16           6
16           2019132017  Student17           7
17           2019132018  Student18          16
18           2019132019  Student19          19
19           2019132020  Student20           0
20           2019132021  Student21          17
21           2019132022  Student22           6
22           2019132023  Student23          20
23           2019132024  Student24          17
24           2019132025  Student25          13
25           2019132026  Student26           7
26           2019132027  Student27          14
27           2019132028  Student28          18
28           2019132029  Student29           8
29           2019132030  Student30           0
30           2019132031  Student31           5
31           2019132032  Student32          13
32           2019132033  Student33          10
33           2019132034  Student34           8
34           2019132035  Student35           4
35           2019132036  Student36           6
36           2019132037  Student37          10
37           2019132038  Student38           3
38           2019132039  Student39           2
39           2019132040  Student40          12
40           2019132041  Student41           3
41           2019132042  Student42          11
42           2019132043  Student43          11
43           2019132044  Student44          19
44           2019132045  Student45           8
45           2019132046  Student46           1
46           2019132047  Student47          14
47           2019132048  Student48          17
48           2019132049  Student49           3
49           2019132050  Student50          12
CSV file 'term-test-1-result.csv' created successfully!

In [2]:
#2.

import pandas as pd
import random

df = pd.read_csv('term-test-1-result.csv')

tt2_marks = [random.randint(0, 20) for _ in range(50)]

new_data = {
    'Registration Number': df['Registration Number'],
    'Name': df['Name'],
    'TT-2 Marks': tt2_marks
}

new_df = pd.DataFrame(new_data)

new_df.to_csv('term-test-2-result.csv', index=False)

print("term-test-1-result.csv:")
print(df.head(51))
print("\n")

print("term-test-2-result.csv:")
print(new_df.head(51))
print("\n")

print("CSV files 'term-test-1-result.csv' and 'term-test-2-result.csv' created successfully!")

term-test-1-result.csv:
    Registration Number       Name  TT-1 Marks
0            2019132001   Student1          20
1            2019132002   Student2           3
2            2019132003   Student3           0
3            2019132004   Student4           8
4            2019132005   Student5           7
5            2019132006   Student6           7
6            2019132007   Student7           4
7            2019132008   Student8           3
8            2019132009   Student9          17
9            2019132010  Student10           2
10           2019132011  Student11          18
11           2019132012  Student12          13
12           2019132013  Student13           1
13           2019132014  Student14           0
14           2019132015  Student15           2
15           2019132016  Student16           6
16           2019132017  Student17           7
17           2019132018  Student18          16
18           2019132019  Student19          19
19           2019132020  Student20           0
20           2019132021  Student21          17
21           2019132022  Student22           6
22           2019132023  Student23          20
23           2019132024  Student24          17
24           2019132025  Student25          13
25           2019132026  Student26           7
26           2019132027  Student27          14
27           2019132028  Student28          18
28           2019132029  Student29           8
29           2019132030  Student30           0
30           2019132031  Student31           5
31           2019132032  Student32          13
32           2019132033  Student33          10
33           2019132034  Student34           8
34           2019132035  Student35           4
35           2019132036  Student36           6
36           2019132037  Student37          10
37           2019132038  Student38           3
38           2019132039  Student39           2
39           2019132040  Student40          12
40           2019132041  Student41           3
41           2019132042  Student42          11
42           2019132043  Student43          11
43           2019132044  Student44          19
44           2019132045  Student45           8
45           2019132046  Student46           1
46           2019132047  Student47          14
47           2019132048  Student48          17
48           2019132049  Student49           3
49           2019132050  Student50          12


term-test-2-result.csv:
    Registration Number       Name  TT-2 Marks
0            2019132001   Student1           2
1            2019132002   Student2          17
2            2019132003   Student3           9
3            2019132004   Student4          20
4            2019132005   Student5          19
5            2019132006   Student6          11
6            2019132007   Student7          18
7            2019132008   Student8           6
8            2019132009   Student9           2
9            2019132010  Student10           1
10           2019132011  Student11           7
11           2019132012  Student12           9
12           2019132013  Student13           2
13           2019132014  Student14           7
14           2019132015  Student15           3
15           2019132016  Student16          12
16           2019132017  Student17           8
17           2019132018  Student18          14
18           2019132019  Student19          20
19           2019132020  Student20          11
20           2019132021  Student21           5
21           2019132022  Student22          11
22           2019132023  Student23          11
23           2019132024  Student24           6
24           2019132025  Student25           8
25           2019132026  Student26          20
26           2019132027  Student27           2
27           2019132028  Student28          19
28           2019132029  Student29          20
29           2019132030  Student30           5
30           2019132031  Student31          17
31           2019132032  Student32           7
32           2019132033  Student33           5
33           2019132034  Student34          14
34           2019132035  Student35          12
35           2019132036  Student36           8
36           2019132037  Student37          20
37           2019132038  Student38          17
38           2019132039  Student39           7
39           2019132040  Student40          10
40           2019132041  Student41           1
41           2019132042  Student42           7
42           2019132043  Student43           1
43           2019132044  Student44          10
44           2019132045  Student45          12
45           2019132046  Student46           8
46           2019132047  Student47           2
47           2019132048  Student48           6
48           2019132049  Student49          18
49           2019132050  Student50          10


CSV files 'term-test-1-result.csv' and 'term-test-2-result.csv' created successfully!

In [3]:
#3.

import pandas as pd

df1 = pd.read_csv('term-test-1-result.csv')
df2 = pd.read_csv('term-test-2-result.csv')

merged_df = pd.merge(df1, df2, on=['Registration Number','Name'])

print(merged_df)

merged_df.to_csv('merged_results.csv', index=False)

    Registration Number       Name  TT-1 Marks  TT-2 Marks
0            2019132001   Student1          20           2
1            2019132002   Student2           3          17
2            2019132003   Student3           0           9
3            2019132004   Student4           8          20
4            2019132005   Student5           7          19
5            2019132006   Student6           7          11
6            2019132007   Student7           4          18
7            2019132008   Student8           3           6
8            2019132009   Student9          17           2
9            2019132010  Student10           2           1
10           2019132011  Student11          18           7
11           2019132012  Student12          13           9
12           2019132013  Student13           1           2
13           2019132014  Student14           0           7
14           2019132015  Student15           2           3
15           2019132016  Student16           6          12
16           2019132017  Student17           7           8
17           2019132018  Student18          16          14
18           2019132019  Student19          19          20
19           2019132020  Student20           0          11
20           2019132021  Student21          17           5
21           2019132022  Student22           6          11
22           2019132023  Student23          20          11
23           2019132024  Student24          17           6
24           2019132025  Student25          13           8
25           2019132026  Student26           7          20
26           2019132027  Student27          14           2
27           2019132028  Student28          18          19
28           2019132029  Student29           8          20
29           2019132030  Student30           0           5
30           2019132031  Student31           5          17
31           2019132032  Student32          13           7
32           2019132033  Student33          10           5
33           2019132034  Student34           8          14
34           2019132035  Student35           4          12
35           2019132036  Student36           6           8
36           2019132037  Student37          10          20
37           2019132038  Student38           3          17
38           2019132039  Student39           2           7
39           2019132040  Student40          12          10
40           2019132041  Student41           3           1
41           2019132042  Student42          11           7
42           2019132043  Student43          11           1
43           2019132044  Student44          19          10
44           2019132045  Student45           8          12
45           2019132046  Student46           1           8
46           2019132047  Student47          14           2
47           2019132048  Student48          17           6
48           2019132049  Student49           3          18
49           2019132050  Student50          12          10

In [4]:
#4.

import pandas as pd

merged_df = pd.read_csv('merged_results.csv')

merged_df['Best Term Test Marks'] = merged_df[['TT-1 Marks', 'TT-2 Marks']].max(axis=1)

merged_df['Average Term Test Marks'] = merged_df[['TT-1 Marks', 'TT-2 Marks']].mean(axis=1)

print(merged_df)

merged_df.to_csv('final_results.csv', index=False)

    Registration Number       Name  TT-1 Marks  TT-2 Marks  \
0            2019132001   Student1          20           2
1            2019132002   Student2           3          17
2            2019132003   Student3           0           9
3            2019132004   Student4           8          20
4            2019132005   Student5           7          19
5            2019132006   Student6           7          11
6            2019132007   Student7           4          18
7            2019132008   Student8           3           6
8            2019132009   Student9          17           2
9            2019132010  Student10           2           1
10           2019132011  Student11          18           7
11           2019132012  Student12          13           9
12           2019132013  Student13           1           2
13           2019132014  Student14           0           7
14           2019132015  Student15           2           3
15           2019132016  Student16           6          12
16           2019132017  Student17           7           8
17           2019132018  Student18          16          14
18           2019132019  Student19          19          20
19           2019132020  Student20           0          11
20           2019132021  Student21          17           5
21           2019132022  Student22           6          11
22           2019132023  Student23          20          11
23           2019132024  Student24          17           6
24           2019132025  Student25          13           8
25           2019132026  Student26           7          20
26           2019132027  Student27          14           2
27           2019132028  Student28          18          19
28           2019132029  Student29           8          20
29           2019132030  Student30           0           5
30           2019132031  Student31           5          17
31           2019132032  Student32          13           7
32           2019132033  Student33          10           5
33           2019132034  Student34           8          14
34           2019132035  Student35           4          12
35           2019132036  Student36           6           8
36           2019132037  Student37          10          20
37           2019132038  Student38           3          17
38           2019132039  Student39           2           7
39           2019132040  Student40          12          10
40           2019132041  Student41           3           1
41           2019132042  Student42          11           7
42           2019132043  Student43          11           1
43           2019132044  Student44          19          10
44           2019132045  Student45           8          12
45           2019132046  Student46           1           8
46           2019132047  Student47          14           2
47           2019132048  Student48          17           6
48           2019132049  Student49           3          18
49           2019132050  Student50          12          10

    Best Term Test Marks  Average Term Test Marks
0                     20                     11.0
1                     17                     10.0
2                      9                      4.5
3                     20                     14.0
4                     19                     13.0
5                     11                      9.0
6                     18                     11.0
7                      6                      4.5
8                     17                      9.5
9                      2                      1.5
10                    18                     12.5
11                    13                     11.0
12                     2                      1.5
13                     7                      3.5
14                     3                      2.5
15                    12                      9.0
16                     8                      7.5
17                    16                     15.0
18                    20                     19.5
19                    11                      5.5
20                    17                     11.0
21                    11                      8.5
22                    20                     15.5
23                    17                     11.5
24                    13                     10.5
25                    20                     13.5
26                    14                      8.0
27                    19                     18.5
28                    20                     14.0
29                     5                      2.5
30                    17                     11.0
31                    13                     10.0
32                    10                      7.5
33                    14                     11.0
34                    12                      8.0
35                     8                      7.0
36                    20                     15.0
37                    17                     10.0
38                     7                      4.5
39                    12                     11.0
40                     3                      2.0
41                    11                      9.0
42                    11                      6.0
43                    19                     14.5
44                    12                     10.0
45                     8                      4.5
46                    14                      8.0
47                    17                     11.5
48                    18                     10.5
49                    12                     11.0

In [5]:
# 5

import pandas as pd


final_df = pd.read_csv('final_results.csv')


final_df = final_df.drop(['TT-1 Marks', 'TT-2 Marks'], axis=1)

print(final_df)

final_df.to_csv('final_results_modified.csv', index=False)

    Registration Number       Name  Best Term Test Marks  \
0            2019132001   Student1                    20
1            2019132002   Student2                    17
2            2019132003   Student3                     9
3            2019132004   Student4                    20
4            2019132005   Student5                    19
5            2019132006   Student6                    11
6            2019132007   Student7                    18
7            2019132008   Student8                     6
8            2019132009   Student9                    17
9            2019132010  Student10                     2
10           2019132011  Student11                    18
11           2019132012  Student12                    13
12           2019132013  Student13                     2
13           2019132014  Student14                     7
14           2019132015  Student15                     3
15           2019132016  Student16                    12
16           2019132017  Student17                     8
17           2019132018  Student18                    16
18           2019132019  Student19                    20
19           2019132020  Student20                    11
20           2019132021  Student21                    17
21           2019132022  Student22                    11
22           2019132023  Student23                    20
23           2019132024  Student24                    17
24           2019132025  Student25                    13
25           2019132026  Student26                    20
26           2019132027  Student27                    14
27           2019132028  Student28                    19
28           2019132029  Student29                    20
29           2019132030  Student30                     5
30           2019132031  Student31                    17
31           2019132032  Student32                    13
32           2019132033  Student33                    10
33           2019132034  Student34                    14
34           2019132035  Student35                    12
35           2019132036  Student36                     8
36           2019132037  Student37                    20
37           2019132038  Student38                    17
38           2019132039  Student39                     7
39           2019132040  Student40                    12
40           2019132041  Student41                     3
41           2019132042  Student42                    11
42           2019132043  Student43                    11
43           2019132044  Student44                    19
44           2019132045  Student45                    12
45           2019132046  Student46                     8
46           2019132047  Student47                    14
47           2019132048  Student48                    17
48           2019132049  Student49                    18
49           2019132050  Student50                    12

    Average Term Test Marks
0                      11.0
1                      10.0
2                       4.5
3                      14.0
4                      13.0
5                       9.0
6                      11.0
7                       4.5
8                       9.5
9                       1.5
10                     12.5
11                     11.0
12                      1.5
13                      3.5
14                      2.5
15                      9.0
16                      7.5
17                     15.0
18                     19.5
19                      5.5
20                     11.0
21                      8.5
22                     15.5
23                     11.5
24                     10.5
25                     13.5
26                      8.0
27                     18.5
28                     14.0
29                      2.5
30                     11.0
31                     10.0
32                      7.5
33                     11.0
34                      8.0
35                      7.0
36                     15.0
37                     10.0
38                      4.5
39                     11.0
40                      2.0
41                      9.0
42                      6.0
43                     14.5
44                     10.0
45                      4.5
46                      8.0
47                     11.5
48                     10.5
49                     11.0

In [6]:
#6

import pandas as pd
import random

final_df = pd.read_csv('final_results_modified.csv')

attendance_marks = [random.randint(0, 10) for _ in range(len(final_df))]
term_final_marks = [random.randint(0, 100) for _ in range(len(final_df))]

final_df['Attendance Marks'] = attendance_marks
final_df['Term Final Marks'] = term_final_marks

final_df['Final Marks'] = (final_df['Term Final Marks'] * 0.7) + final_df['Average Term Test Marks'] + final_df['Attendance Marks']

print(final_df)

final_df.to_csv('final_student_results.csv', index=False)

print("CSV file 'final_student_results.csv' created successfully!")

    Registration Number       Name  Best Term Test Marks  \
0            2019132001   Student1                    20
1            2019132002   Student2                    17
2            2019132003   Student3                     9
3            2019132004   Student4                    20
4            2019132005   Student5                    19
5            2019132006   Student6                    11
6            2019132007   Student7                    18
7            2019132008   Student8                     6
8            2019132009   Student9                    17
9            2019132010  Student10                     2
10           2019132011  Student11                    18
11           2019132012  Student12                    13
12           2019132013  Student13                     2
13           2019132014  Student14                     7
14           2019132015  Student15                     3
15           2019132016  Student16                    12
16           2019132017  Student17                     8
17           2019132018  Student18                    16
18           2019132019  Student19                    20
19           2019132020  Student20                    11
20           2019132021  Student21                    17
21           2019132022  Student22                    11
22           2019132023  Student23                    20
23           2019132024  Student24                    17
24           2019132025  Student25                    13
25           2019132026  Student26                    20
26           2019132027  Student27                    14
27           2019132028  Student28                    19
28           2019132029  Student29                    20
29           2019132030  Student30                     5
30           2019132031  Student31                    17
31           2019132032  Student32                    13
32           2019132033  Student33                    10
33           2019132034  Student34                    14
34           2019132035  Student35                    12
35           2019132036  Student36                     8
36           2019132037  Student37                    20
37           2019132038  Student38                    17
38           2019132039  Student39                     7
39           2019132040  Student40                    12
40           2019132041  Student41                     3
41           2019132042  Student42                    11
42           2019132043  Student43                    11
43           2019132044  Student44                    19
44           2019132045  Student45                    12
45           2019132046  Student46                     8
46           2019132047  Student47                    14
47           2019132048  Student48                    17
48           2019132049  Student49                    18
49           2019132050  Student50                    12

    Average Term Test Marks  Attendance Marks  Term Final Marks  Final Marks
0                      11.0                 3                20         28.0
1                      10.0                10                58         60.6
2                       4.5                 7                 0         11.5
3                      14.0                 6                92         84.4
4                      13.0                10                92         87.4
5                       9.0                 7                33         39.1
6                      11.0                 2                64         57.8
7                       4.5                 4                97         76.4
8                       9.5                 2                22         26.9
9                       1.5                 3                64         49.3
10                     12.5                 8                13         29.6
11                     11.0                 8                80         75.0
12                      1.5                 4                38         32.1
13                      3.5                 9                81         69.2
14                      2.5                 6                64         53.3
15                      9.0                 9                77         71.9
16                      7.5                 6                25         31.0
17                     15.0                 5                19         33.3
18                     19.5                 3                47         55.4
19                      5.5                 2                97         75.4
20                     11.0                 8                20         33.0
21                      8.5                 7                69         63.8
22                     15.5                 1                99         85.8
23                     11.5                 0                67         58.4
24                     10.5                 1                 0         11.5
25                     13.5                 2                76         68.7
26                      8.0                10                41         46.7
27                     18.5                 2                62         63.9
28                     14.0                10                 2         25.4
29                      2.5                 6                14         18.3
30                     11.0                 9                46         52.2
31                     10.0                 1                39         38.3
32                      7.5                 6                30         34.5
33                     11.0                 6                 7         21.9
34                      8.0                 9                30         38.0
35                      7.0                 7                72         64.4
36                     15.0                 8                10         30.0
37                     10.0                 4                10         21.0
38                      4.5                 8                93         77.6
39                     11.0                 0                62         54.4
40                      2.0                10                 8         17.6
41                      9.0                 1                97         77.9
42                      6.0                10                68         63.6
43                     14.5                 8                98         91.1
44                     10.0                 4                16         25.2
45                      4.5                10                16         25.7
46                      8.0                 5                84         71.8
47                     11.5                 1                60         54.5
48                     10.5                 4                70         63.5
49                     11.0                 6                21         31.7
CSV file 'final_student_results.csv' created successfully!

In [7]:
#7
import pandas as pd
import random

random.seed(42)


final_df.to_csv('final result.csv', index=False)

print(final_df)

from google.colab import files
files.download('final result.csv')

    Registration Number       Name  Best Term Test Marks  \
0            2019132001   Student1                    20
1            2019132002   Student2                    17
2            2019132003   Student3                     9
3            2019132004   Student4                    20
4            2019132005   Student5                    19
5            2019132006   Student6                    11
6            2019132007   Student7                    18
7            2019132008   Student8                     6
8            2019132009   Student9                    17
9            2019132010  Student10                     2
10           2019132011  Student11                    18
11           2019132012  Student12                    13
12           2019132013  Student13                     2
13           2019132014  Student14                     7
14           2019132015  Student15                     3
15           2019132016  Student16                    12
16           2019132017  Student17                     8
17           2019132018  Student18                    16
18           2019132019  Student19                    20
19           2019132020  Student20                    11
20           2019132021  Student21                    17
21           2019132022  Student22                    11
22           2019132023  Student23                    20
23           2019132024  Student24                    17
24           2019132025  Student25                    13
25           2019132026  Student26                    20
26           2019132027  Student27                    14
27           2019132028  Student28                    19
28           2019132029  Student29                    20
29           2019132030  Student30                     5
30           2019132031  Student31                    17
31           2019132032  Student32                    13
32           2019132033  Student33                    10
33           2019132034  Student34                    14
34           2019132035  Student35                    12
35           2019132036  Student36                     8
36           2019132037  Student37                    20
37           2019132038  Student38                    17
38           2019132039  Student39                     7
39           2019132040  Student40                    12
40           2019132041  Student41                     3
41           2019132042  Student42                    11
42           2019132043  Student43                    11
43           2019132044  Student44                    19
44           2019132045  Student45                    12
45           2019132046  Student46                     8
46           2019132047  Student47                    14
47           2019132048  Student48                    17
48           2019132049  Student49                    18
49           2019132050  Student50                    12

    Average Term Test Marks  Attendance Marks  Term Final Marks  Final Marks
0                      11.0                 3                20         28.0
1                      10.0                10                58         60.6
2                       4.5                 7                 0         11.5
3                      14.0                 6                92         84.4
4                      13.0                10                92         87.4
5                       9.0                 7                33         39.1
6                      11.0                 2                64         57.8
7                       4.5                 4                97         76.4
8                       9.5                 2                22         26.9
9                       1.5                 3                64         49.3
10                     12.5                 8                13         29.6
11                     11.0                 8                80         75.0
12                      1.5                 4                38         32.1
13                      3.5                 9                81         69.2
14                      2.5                 6                64         53.3
15                      9.0                 9                77         71.9
16                      7.5                 6                25         31.0
17                     15.0                 5                19         33.3
18                     19.5                 3                47         55.4
19                      5.5                 2                97         75.4
20                     11.0                 8                20         33.0
21                      8.5                 7                69         63.8
22                     15.5                 1                99         85.8
23                     11.5                 0                67         58.4
24                     10.5                 1                 0         11.5
25                     13.5                 2                76         68.7
26                      8.0                10                41         46.7
27                     18.5                 2                62         63.9
28                     14.0                10                 2         25.4
29                      2.5                 6                14         18.3
30                     11.0                 9                46         52.2
31                     10.0                 1                39         38.3
32                      7.5                 6                30         34.5
33                     11.0                 6                 7         21.9
34                      8.0                 9                30         38.0
35                      7.0                 7                72         64.4
36                     15.0                 8                10         30.0
37                     10.0                 4                10         21.0
38                      4.5                 8                93         77.6
39                     11.0                 0                62         54.4
40                      2.0                10                 8         17.6
41                      9.0                 1                97         77.9
42                      6.0                10                68         63.6
43                     14.5                 8                98         91.1
44                     10.0                 4                16         25.2
45                      4.5                10                16         25.7
46                      8.0                 5                84         71.8
47                     11.5                 1                60         54.5
48                     10.5                 4                70         63.5
49                     11.0                 6                21         31.7

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
#8

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

df_final = pd.read_csv('final result.csv')

X = df_final[['Final Marks']]

for k in range(2, 6):
    kmeans = KMeans(n_clusters=k, random_state=42, n_init=10)
    df_final['Cluster'] = kmeans.fit_predict(X)


    plt.figure(figsize=(10, 6))
    plt.scatter(df_final['Final Marks'], [0] * len(df_final), c=df_final['Cluster'], cmap='viridis', s=100, edgecolors='k')
    plt.scatter(kmeans.cluster_centers_[:, 0], [0] * k, s=300, c='red', label='Centroids')
    plt.xlabel('Final Marks')
    plt.title(f'K-Means Clustering of Final Marks (K={k})')
    plt.yticks([])
    plt.colorbar(label='Cluster')
    plt.legend()
    plt.grid()
    plt.show()